<body>
    <img src="assets/Group 4.png" alt="" routerLink="/landing" class="arrow">
    <span>ჩანაწერების სია</span>


    <!-- <div class="div" >
        <ng-container *ngFor="let user in usersData">
        <div>
           <img src="" alt="">
        </div>

        <span>{{user.name}}</span>
        <span>{{user.laptop_name}}</span>
        <a href="">მეტის ნახვა</a>
    </ng-container>
    </div> -->
    <mat-card class="example-card"*ngFor="let user of usersData" >
        <mat-card-title-group >
          <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
          <mat-card-subtitle>{{user.laptop_name}}</mat-card-subtitle>
          
        </mat-card-title-group>
        <mat-card-content>
            <a [routerLink]="['/detailid/'+user?.id]">მეტის ნახვა</a>
        </mat-card-content>
      </mat-card>

      <!-- routerLink="/detailid/:id" -->

</body>



