<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./landing.component.scss">
    <title>Document</title>
</head>
<body>
    
    <img src="assets/LOGO-02 1.png" alt="" class="logo">
    <img src="assets/Layer1.png" alt="" class="layer">
    <img src="assets/Group.png" alt="" *ngIf="onMobile">
    <button class="btn" routerLink="/register">ჩანაწერის დამატება</button>
    <button>ჩანაწერების სია</button>
   
</body>
</html>
