body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .div{
    width: 847px;
    height: 537px;
    background: #FFFFFF;
    border-radius: 8px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        width: 500px;
    }
    img{
        margin-left: 320px;
        margin-top: 40px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: 100px;
        }
    }
    p{
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 31px;
        color: #292929;
        text-align: center;
        margin-top: -25px;
    }
    button{
    width: 297px;
    height: 60px;
    background: #62A1EB;
    border-radius: 8px;
    margin-left: 275px;
    margin-top: 40px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 50px;
    }

    }
    button +p{
        
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 30px;
        color: #0089A7;
        cursor: pointer;
    }
}
}