<body>
    
    <img src="assets/Group 4.png" alt="" routerLink="/landing" class="arrow" *ngIf="!onMobile">
    <img src="assets/Vector.png" alt=""  routerLink="/landing" *ngIf="onMobile" style="
    transform: rotate(90deg);
    vertical-align: bottom;
    margin-left: 10px;
    margin-top:45px;">
    

    
    <mat-tab-group #tabGroup >
       
      
        <mat-tab label="თანამშრომლის ინფო" class="tab1" >
           
            <p *ngIf="onSubmit" class="ptag" >1/2</p>
            
           
            <form  class="form1" [formGroup]="formArr" >

              
                <div class="form-group"  >
              
                <span *ngIf="formArr.get('name')?.untouched || formArr.get('name')?.valid ; then show;else error" ></span>
              
                <ng-template #show>
                    
                    <label for="name" class="name">სახელი</label>
                <input type="text" id="name" formControlName="name" placeholder="გრიშა" class="name2" >
                <span  class="span">მინიმუმ 2 სიმბოლო, ქართული ასოები </span>
                </ng-template>
                <ng-template #error>
                
                <label for="name" class="name2 name4" >სახელი</label>
                <input type="text" id="name" formControlName="name" placeholder="გრიშა" class="name3" >
                <span class="alert" *ngIf="formArr.get('name')?.touched && formArr.get('name')?.invalid" >გამოიყენე ქართული ასოები</span>
              
            </ng-template>
                </div>
                <div class="surname2">
                
                <span  *ngIf="formArr.get('surname')?.untouched || formArr.get('surname')?.valid ; then showsurname;else errorsurname" ></span>
               

                <ng-template #showsurname>
                <label for="surname">გვარი</label>
                <input type="text" id="surname" formControlName="surname" placeholder="ბაგრატიონი">
                <span>მინიმუმ 2 სიმბოლო, ქართული ასოები</span>
                </ng-template>

                <ng-template #errorsurname>
                    
                        <label for="surname" class="name4" *ngIf="!onMobile">გვარი</label>
                        <label for="surname" class="name4" style="margin-top:-30px" *ngIf="onMobile">გვარი</label>
                        <input type="text" id="surname" formControlName="surname" placeholder="ბაგრატიონი" class="surname">
                        <span class="alert3" *ngIf="formArr.get('surname')?.touched && formArr.get('surname')?.invalid" >გამოიყენე ქართული ასოები</span>
                       
                </ng-template>
                </div>

               
                 <div class="parent">

                    
                 <select  (change)="selectList($event)" (change)="OnSelect($event)">
                    <option selected disabled hidden >თიმი</option>
                    <option [value]="val.id" *ngFor="let val of mydata" >
                        {{val.name}}
                    </option>
                </select> 

                <ng-template #err class="danger" style="color: red;"> sheiyvane</ng-template>
                <select (change)="selectList2($event)">
                    <option selected disabled hidden>პოზიცია</option>
                    <option [value]="item.id" *ngFor="let item of myPos">
                        {{item.name}}
                    </option>
                </select>
            </div>

        

                <span *ngIf="formArr.get('email')?.untouched || formArr.get('email')?.valid ; then showemail;else erroremail"></span>
            
                <ng-template #showemail>
                    <label for="mail" class="email">მეილი</label>
                    <input type="email" id="mail" class="e-mail" formControlName="email" placeholder="grish666@gmail.com">
                    <span class="mailspan">უნდა მთავრდებოდეს @gmail.com-ით</span>
                </ng-template>
                <ng-template #erroremail>
                    <label for="mail" class="email" style="color: #E52F2F;">მეილი</label>
                    <input type="email" id="mail" class="e-mail" formControlName="email" placeholder="grish666@gmail.com" style="border-color:#E52F2F ;">
                    <span class="mailspan" style="color:#E52F2F">უნდა მთავრდებოდეს @gmail.com-ით</span>
                </ng-template>
                <span *ngIf="formArr.get('phone_number')?.untouched || formArr.get('phone_number')?.valid ; then showphone;else errorphone"></span>
              
                <ng-template #showphone>
                    <label for="tel" class="phone2">ტელეფონის ნომერი</label>
                    <input type="tel" id="tel" formControlName="phone_number" placeholder="+995 598 00 07 01">
                    <span class="phonespan" *ngIf="!onMobile" >უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს</span>
                    <span style="margin-left: 35px;" *ngIf="onMobile">ქართული მობ-ნომრის ფორმატი</span>
                </ng-template>
                <ng-template #errorphone>
                    <label for="tel" class="phone2" style="color:#E52F2F" >ტელეფონის ნომერი</label>
                    <input type="tel" id="tel" formControlName="phone_number" placeholder="+995 598 00 07 01" style="border-color:#E52F2F ;">
                    <span class="phonespan" style="color:#E52F2F" *ngIf="!onMobile">უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს</span>
                    <span style="margin-left: 35px;" *ngIf="onMobile">ქართული მობ-ნომრის ფორმატი</span>
                </ng-template>

                    <button type="submit" class="btn"tabindex="-1" (click)='moveToSelectedTab("ლეპტოპის მახასიათებლები")' >შემდეგი</button>
                   
                  
                
            </form >
            <img src="/assets/LOGO-10 2.png" alt="" class="logo1">
       
</mat-tab>

    <mat-tab label="ლეპტოპის მახასიათებლები"   #tab [disabled]="!tab.isActive" >
        <p *ngIf="onSubmit" class="ptag" >2/2</p>
        <form action="" class="form2"  [formGroup]="formArr">

        <div class="upload">
            <img src="assets/Layer1.png" alt="" class="landing">

        </div>

    <div class="laptop" *ngIf="formArr.get('laptop_name')?.untouched || formArr.get('laptop_name')?.valid ; else laptop">
        <label for="cpu" class="laptopName Name8">ლეპტოპის სახელი</label>
        <input type="text" id="cpu"  placeholder="HP"  formControlName="laptop_name"  >
        <span  class="hint">ლათინური ასოები, ციფრები, !@#$%^&*()_+= </span>
    </div>

<ng-template #laptop>
    <div class="laptop" >
        <label for="cpu" class="laptopName Name6" style="color: #E52F2F;">ლეპტოპის სახელი</label>
        <input type="text" id="cpu"  placeholder="HP"  formControlName="laptop_name" style="border-color:#E52F2F ;" >
        <span style="color:#E52F2F" class="hint" *ngIf="formArr.get('laptop_name')?.touched && formArr.get('laptop_name')?.invalid">ლათინური ასოები, ციფრები, !@#$%^&*()_+= </span>
    </div>
</ng-template>

<div class="parent2">
   

    <select (change)="selectList3($event)" class="brand"   >
        <option selected disabled hidden >ლეპტოპის ბრენდი</option>
        <option [value]="val.id" *ngFor="let val of brands" >
            {{val.name}}
        </option>
    </select >

    <hr>

   
        <select  (change)="selectList4($event)" class="brand brand2">
            <option selected disabled hidden >CPU</option>
            <option [value]="val.id" *ngFor="let val of cpus" >
                {{val.name}}
            </option>
        </select>


    
    <div class="div" *ngIf="formArr.get('laptop_cpu_cores')?.untouched || formArr.get('laptop_cpu_cores')?.valid ; else div">
        <label for="cpu" class="laptopName Name7">CPU-ს ბირთვი</label>
        <input type="text" id="cpu"  placeholder="14" class="cpuname2" formControlName="laptop_cpu_cores">
        <span  class="hint2">მხოლოდ ციფრები</span>
    </div>

    <ng-template #div>
        <div class="div" >
            <label for="cpu" class="laptopName" style="color: #E52F2F;">CPU-ს ბირთვი</label>
            <input type="text" id="cpu"  placeholder="14" class="cpuname2" formControlName="laptop_cpu_cores"  style="border-color:#E52F2F ;">
            <span  class="hint2" style="color:#E52F2F">მხოლოდ ციფრები</span>
        </div>
    </ng-template>
    <div class="div2" *ngIf="formArr.get('laptop_cpu_threads')?.untouched || formArr.get('laptop_cpu_threads')?.valid ; else div2">
        <label for="cpu" class="laptopName">CPU-ს ნაკადი</label>
        <input type="text" id="cpu"  placeholder="365" class="thread" formControlName="laptop_cpu_threads">
        <span  class="hint3">მხოლოდ ციფრები</span>
    
    </div>
    <ng-template #div2>
        <div class="div2" >
            <label for="cpu" class="laptopName"style="color: #E52F2F;">CPU-ს ნაკადი</label>
            <input type="text" id="cpu"  placeholder="365" class="thread" formControlName="laptop_cpu_threads" style="border-color:#E52F2F ;">
            <span  class="hint3" style="color:#E52F2F">მხოლოდ ციფრები</span>
        
        </div>
    </ng-template>

    <div class="div2 div3" *ngIf="formArr.get('laptop_ram')?.untouched || formArr.get('laptop_ram')?.valid ; else div3">
        <label for="cpu" class="laptopName Name9">ლეპტოპის RAM(GB)</label>
        <input type="text" id="cpu"  placeholder="16" class="thread thread2 thread4" formControlName="laptop_ram">
        <span  class="hint3 hint4 Hint1">მხოლოდ ციფრები</span>
    
    </div>

    <ng-template #div3>
        <div class="div2 div3" >
            <label for="cpu" class="laptopName Name5" style="color: #E52F2F;">ლეპტოპის RAM(GB)</label>
            <input type="text" id="cpu"  placeholder="16" class="thread thread2" formControlName="laptop_ram" style="border-color:#E52F2F ;">
            <span  class="hint3 hint4" style="color:#E52F2F">მხოლოდ ციფრები</span>
        
        </div>
    </ng-template>
    <div class="radio">
        <p class="paragraph">მეხსიერების ტიპი</p>
        <input type="radio" id="ssd" formControlName="laptop_hard_drive_type"  value="SSD">
          <label for="ssd" class="SSD">SSD</label>
        <input type="radio" id="hdd"  formControlName="laptop_hard_drive_type"  value="HDD"> 
          <label for="hdd" class="hdd">HDD</label>
    </div>

    <hr class="line">
<div class="div2 div3 div4" *ngIf="formArr.get('laptop_purchase_date')?.untouched || formArr.get('laptop_purchase_date')?.valid ; else div4" >
    <label for="cpu" class="laptopName date2">შეძენის რიცხვი(არჩევითი)</label>
    <input type="text" id="input2"  placeholder="დდ/თთ/წწწწ" class="thread thread2"  onfocus="(this.type='date')" 
    onblur="(this.type='text')" formControlName="laptop_purchase_date">
    

</div>

<ng-template #div4>
    <div class="div2 div3 div4"  >
        <label for="cpu" class="laptopName"  style="color: #E52F2F;">შეძენის რიცხვი(არჩევითი)</label>
        <input type="text" id="cpu"  placeholder="დდ/თთ/წწწწ" class="thread thread2"  onfocus="(this.type='date')" 
        onblur="(this.type='text')" formControlName="laptop_purchase_date"  style="border-color:#E52F2F ;">
        
    
    </div>
</ng-template>
<div class="div2 div3 wrapper2" *ngIf="formArr.get('laptop_price')?.untouched || formArr.get('laptop_price')?.valid ; else wrapper2" >
    <label for="cpu" class="laptopName price">ლეპტოპის ფასი</label>
    <input type="text" id="price1"  placeholder="0000" class="thread thread2 thread3" formControlName="laptop_price"> 
    <span  class="hint3 hint4 hint5">მხოლოდ ციფრები</span>

</div>
<ng-template #wrapper2>
    <div class="div2 div3 wrapper2"  >
        <label for="cpu" class="laptopName "  style="color: #E52F2F;">ლეპტოპის ფასი</label>
        <input type="text" id="cpu"  placeholder="0000" class="thread thread2 thread3" formControlName="laptop_price" style="border-color:#E52F2F ;"> 
        <span  class="hint3 hint4 "  style="color: #E52F2F;">მხოლოდ ციფრები</span>
    
    </div>
</ng-template>
<div class="radio radio2">
    <p class="paragraph2">ლეპტოპის მდგომარეობა</p>
    <input type="radio" id="state" formControlName="laptop_state"  value="new">
      <label for="state" class="SSD">ახალი</label>
    <input type="radio" id="state2" formControlName="laptop_state" value="used">
      <label for="state2">მეორადი</label>
</div>
</div>

<p class="back" (click)='moveToSelectedTab2("თანამშრომლის ინფო")'>უკან</p>
<button type="button" class="submit"  (click)="postData()" [disabled]="formArr.invalid">დამახსოვრება</button> 

        </form>
        <img src="assets/LOGO-10 2.png" alt="" *ngIf="!onMobile">
    </mat-tab>

</mat-tab-group>
</body>