@import "../../styles.scss";
body{
    background-color: #EBEBEB;
    height: auto;
    @media only screen and (min-width: 389px) and (max-width:844px){
       width: 100%;
       height: auto;
}
    .logo1{
        margin-left: 917px;
        margin-top: 30px;
        width: 75px;
    }
    .arrow{
        margin-left: 70px;
        margin-top: 35px;
        cursor: pointer;
    }
    .ptag{
        display: none;
    @media only screen and (min-width: 389px) and (max-width:844px){
            width: 21px;
            height: 17px;
            display: block;
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 17px;
            margin-left: 200px;
            text-align: center;
            color: #898989;
        }
 }
    margin-top: -25px;
    
    @media only screen and (min-width: 389px) and (max-width:844px){
.mat-tab-header{
    padding-right: 70px;
}
}    
.form1{
    background-color: white;
    border-radius: 18px;
    width: 1226px;
    height: 800px;
    margin-left: 347px;
    margin-top: 52px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            width: 100%;
            height: auto;
            margin-left: 0px;
            margin-top: 20px;
     }
    
     .teamwrapper{
        border: 2px solid red;
    }
div {
    float: left;
    margin-right: 20px;
    margin-top: 50px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -195px;
        float: unset;
        margin-top: 20px;

        
    }
    label, input{
        @include input;
    }

.name{
    @media only screen and (min-width: 389px) and (max-width:844px){
        padding-top: 30px;
    }
}
    .name,.name2,.span{
        margin-left: 230px;
    }
    .alert{
        margin-left: 230px;
        color: #E52F2F;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .alert2{
        color: #E52F2F;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .alert3{
        color: #E52F2F;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .name4{
        color:#E52F2F ;
        @media only screen and (min-width: 389px) and (max-width:844px){
            padding-top: 30px;
        }
    }
    .name3{
        border-color: #E52F2F;
        margin-left:230px ;
    }
    .surname{
        border-color: #E52F2F;
    }
    span{
        @include font;
    }
    input{
        width: 310px;
        height: 40px;
        border: 1.8px solid #6499FF;
        padding-left: 10px;
        border-radius: 8px;
        margin-right: 35px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        color: #00000099;
    }
    input:hover{
        border-color:#6499FF;
        background-color: #2B4BF20F;
    };
    input:focus{
        outline-color: #6499FF;
    }
}
@media only screen and (min-width: 389px) and (max-width:844px){
.surname2{
    margin-left: 37px;  
}
}
.parent{
    overflow: hidden;
select{
    @include font;
    width: 705px;
    height: 45px;
    margin-left: 230px;
    border-radius: 8px;
    background:url("/assets/Vector.png")  right center no-repeat  #EBEBEB;
    appearance: none; 
	-webkit-appearance: none;
    font-size: 18px;
    letter-spacing: 0.04em;
    padding-left: 10px;
    background-position-x: 670px;
    background-size: 14px;
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        width: 335px;
        height: 60px;
        background-position-x: 300px;
    }    
    select::-ms-expand { 
        display: none; 
    }
    option{
        background-color: white;
    }
    option:hover{
        background-color: #E7F0F8;
    }
}
}
.select{
    border-color: #E52F2F;
}
.email{
    @include input;
    position: relative;
    top: 45%;
    right: 62%;
    @media only screen and (min-width: 389px) and (max-width:844px){
        left:10%;
        top: -20px;
    }
}
.e-mail, #tel{
    width: 690px;
    height: 45px;
    margin-left: 230px;
    border-radius: 8px;
    border: 1.8px solid #6499FF;
    padding-left: 10px;
    border-radius: 8px;
    margin-right: 20px;
    @include font;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #00000099;
    margin-top: 20px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        width: 320px;
        height: 45px;
        margin-left: 35px;
        margin-top: -50px;
    }
}
#tel{
    margin-top: 60px;
    margin-bottom: 5px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 35px;
        width: 320px;
        margin-top: 20px;
    }
}
.phone2{
    @include input;
    position: relative;
    left: 19%;
    top: 7%;
    @media only screen and (min-width: 389px) and (max-width:844px){
        left: 10%;
        margin-top: 20px;
        margin-bottom: -10px;
    }
}
.mailspan{
    position: relative;
    right: 59%;
    top: 5%;
    @media only screen and (min-width: 389px) and (max-width:844px){
        right: -8%;
    }
}
.phonespan{
    margin-left: 235px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 10px;
    }
}
.btn{
    width: 176px;
    height: 60px;
    background: #62A1EB;
    @include font;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-left: 755px;
    margin-top: 100px;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 195px;
        margin-bottom: 50px;
    }
}
.btn:hover{
    background: #317AD0;
}
.btn:focus{
    background: #1A5DAB;
}
}
.form2{
    background-color: white;
    border-radius: 18px;
    width: 1226px;
    height: 1571px;
    margin-left: 347px;
    margin-top: 20px;
    position: relative;
    @media only screen and (min-width: 389px) and (max-width:844px){
            width: 100%;
            height: 1850px;
            margin-left: 0px;
    }
    .upload{
        width:878px;
        height: 423px;
        background: #F7F7F7;
        border: 2px dashed #4386A9;
        border-radius: 18px;
        margin-left: 174px;
        margin-top: 68px;
        position: absolute;
        margin-top: 65px;
        .landing{
            width: 700px;
            height: 420px;
            margin-left: 100px;
            @media only screen and (min-width: 389px) and (max-width:844px){
                width: 350px;
                height: 250px;
                margin-left: 5px;

            }
        }
        @media only screen and (min-width: 389px) and (max-width:844px){
            width: 358px;
            height: 244px;
            height: 244px;
            margin-left: 15px;
    }
       .photo{
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: 156px;
            margin-top: 63px;
    }
       }
        .btn2{
            width: 233px;
            height: 60px;
            background: #62A1EB;
            border-radius: 8px;
            background: #62A1EB;
            @include input;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            border-radius: 8px;
            border: none;
            margin-left: 322px;
            margin-top: 70px;
            cursor: pointer;
            @media only screen and (min-width: 389px) and (max-width:844px){
                display: none;
            }
        }
    }
    .show{
        margin-top: -298px;
        margin-left: -1px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            display: none;
        }
    }
    .shown{
        width: 233px;
        height: 60px;
        background: #62A1EB;
        border-radius: 8px;
        background: #62A1EB;
        @include input;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 67%;
        top: 32%;
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-top: -120px;
            margin-left: -120px;
        }

    }
.laptop{
    display: inline-block;
    margin-top: 550px;
    margin-left: 170px;
    position: relative;
    @media only screen and (min-width: 389px) and (max-width:844px){
        position: none;
        margin-left: 25px;
    }
    input{
        width: 408px;
        height: 40px;
        border: 1.8px solid #6499FF;
        padding-left: 10px;
        border-radius: 8px;
        margin-right: 35px;
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        color: rgba(0, 0, 0, 0.6);
        @media only screen and (min-width: 389px) and (max-width:844px){
            width: 310px;
            height: 40px;
        }
    }
}
.laptopName{
    @media only screen and (min-width: 389px) and (max-width:844px){
       margin-top: -180px;
    }

}
.Name5{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -130px;
     }
}
.hint{
    @media only screen and (min-width: 389px) and (max-width:844px){
       
        @include font;
        font-weight: 300;
        font-size: 14px;
        
    }
}
    .hint, .laptopName2, .laptopName{
    @include input;

    }
.laptopName{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -750px;
        margin-top: 150px;
    }
}
.Name6{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 0px;
        margin-top: -200px;
    }
}
.Name7{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -440px;
        margin-top: -130px;
    }

}
.Name8{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-top: -180px;
        margin-left: 0px;
    }
}
.Name9{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 136px;
        margin-top: -50px;
    }
}
    .parent2{
        margin-top: -80px;
    .brand{
    width: 408px;
    height: 60px;
    margin-left: 650px;
    border-radius: 8px;
    color: #000000;
    font-family: "Helvetica Neue";
    background: url("/assets/Vector.png") right center no-repeat #EBEBEB;
    appearance: none;
    -webkit-appearance: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    padding-left: 10px;
    background-position-x: 370px;
    background-size: 14px;
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 20px;
        margin-top: 40px;
        width: 335px;
        background-position-x: 300px;
        margin-bottom: 0px;
    }
    .brand::-ms-expand { 
        display: none; 
    }
    }
    .brand2{
    margin-left: 165px;
    width: 277px;
    height: 60px;
    margin-top: 80px;
    margin-right: 40px;
    background-position-x: 240px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        border: 2px solid #E52F2F;
        margin-top: 20px;
        width: 335px;
        margin-left: 20px;
        background-position-x: 300px;
    }
    }
    hr{
        border: 1px solid #C7C7C7;
        height: 0px;
        width: 900px;
        margin-top: 50px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            height: 8px;
            background: #ebebeb;
        }
    }
    .div{
        margin-left: 460px;
        margin-top: -130px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-top: 200px;
        }
    .hint2{
        @include input;
        margin-top: 10px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: -440px;
        }
    }
.cpuname2{
    width: 277px;
    height: 60px;
    border: 1.8px solid #6499FF;
    padding-left: 10px;
    border-radius: 8px;
    margin-right: 35px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -440px;
        width: 320px;
        height: 45px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
    }
    .div2{
    margin-left: 770px;
    margin-top: -130px;
    .thread{
        width: 277px;
        height: 60px;
        border: 1.8px solid #6499FF;
        padding-left: 10px;
        border-radius: 8px;
        margin-right: 35px;
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        color: rgba(0, 0, 0, 0.6);
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: -750px;
            width: 320px;
            height: 45px;
        }
    }
    .hint3{
        @include input;
        margin-top: 10px;
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: -750px;
        }
    }
    .Hint1{
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-top: 20px;
            margin-left: 145px;
        }
    }
}
.div3{
    margin-top: 80px;
    margin-left: 160px;
    @media only screen and (min-width: 389px) and (max-width:844px){
        width: 310px;
        height: 55px;
        margin-left: -130px;
    }
    .thread2{
        width: 408px;
        height: 60px;
    }
    .thread4{
        @media only screen and (min-width: 389px) and (max-width:844px){
            width: 320px;
            height: 45px;
            margin-left: 150px;
        }
    }
}
.radio{
    margin-left: 700px;
    margin-top: -100px;
    .iconradio{
        padding-left: 14px;
    }
    .SSD{
        margin-right: 45px;
    }
    .paragraph{
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: -680px;
            margin-top: 180px;
            @include font;
            font-size: 20px;
        }
    }
    .paragraph + input{
        @media only screen and (min-width: 389px) and (max-width:844px){
            margin-left: -680px;
            margin-top: 20px;
        }
    }
    .paragraph + input +label{
        @media only screen and (min-width: 389px) and (max-width:844px){
            font-weight: 400;
            font-size: 16px;
            @include font;
        }
    }
    .hdd{
        font-weight: 400;
        font-size: 16px;
        @include font;
    }
}
.line{  
    margin-top: 100px;
}
.date2{
    @media only screen and (min-width: 389px) and (max-width:844px){
    margin-left: 150px;
    margin-top: -20px;
    position: absolute;
    }
}
#input2{
    @media only screen and (min-width: 389px) and (max-width:844px){
    width: 320px;
    margin-top: 20px;
    height: 45px;
    margin-left: 150px;
    }
}
.price{
    @media only screen and (min-width: 389px) and (max-width:844px){
    margin-left: -620px;
    }
}
#price1{
    @media only screen and (min-width: 389px) and (max-width:844px){
    width: 320px;
    height: 45px;
    margin-left: -620px;
    }
}
#price1 +.hint5{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -620px;
    }
}
.div4{
    margin-top: 50px;
}
.wrapper2{
    margin-left: 645px;
    margin-top: -100px;
.thread3{
    background: url("/assets/Vector3.png") right center no-repeat;
    appearance: none;
    -webkit-appearance: none;
    background-position-x: 370px;
    .thread3::-ms-expand { 
        display: none; 
    }
}
}
.radio2{
    margin-left: 160px;
    margin-top: 40px;
    .paragraph2{
        @media only screen and (min-width: 389px) and (max-width:844px){
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-left: -130px;
        margin-top: 80px;
    }
}
.paragraph2 + input{
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: -125px;
        margin-top: 15px;
    }
}
.paragraph2 + input + label{
    @media only screen and (min-width: 389px) and (max-width:844px){
        font-weight: 400;
        font-size: 16px;
        @include font;
    }
}
.paragraph2 + input + label +input + label{
    font-weight: 400;
    font-size: 16px;
    @include font;
}
}
}
.back{
    @include font;
    font-size: 18px;
    color: #62A1EB;
    margin-left: 160px;
    margin-top: 70px;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 30px;
    }
}
.submit{
    display: block;
    width: 233px;
    height: 60px;
    background: #62A1EB;
    border-radius: 8px;
    background: #62A1EB;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-left: 845px;
    margin-top: -60px;
    cursor: pointer;
    @media only screen and (min-width: 389px) and (max-width:844px){
        margin-left: 130px;
    }
}
    }
    .form2 +img{
        width: 75px;
        margin-left: 900px;
        margin-top: 30px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

::ng-deep .mat-tab-labels{
    justify-content: center !important;
}
 ::ng-deep .mat-ink-bar {           
    &:before,
    &:after {
        content: "";
        height: 2px;
        width: 40px;
        background-color: #EBEBEB;
        position: absolute;
        left: 0; 
    }
    &:after {
        left: initial;
        right: 0;
    }
    background-color:#232323 !important;
    @media only screen and (min-width: 389px) and (max-width:844px){
        width: 0px !important;
 }  
}
::ng-deep .mat-tab-label{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.42;
    color:#232323 !important;
    font-style: normal;
}
::ng-deep .mat-tab-header{
    border: none !important;
}
::ng-deep .mat-tab-label.mat-focus-indicator.mat-tab-label.ng-star-inserted {
    opacity: 1;
}
::ng-deep   .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label.ng-star-inserted {
    opacity: 1;
}
::ng-deep  .mat-tab-label-content{
@media only screen and (min-width: 389px) and (max-width:844px){
   padding-left: 50px;
} 
}
::ng-deep  .mat-tab-label-0-1{
    @media only screen and (min-width: 389px) and (max-width:844px){
       padding-left: -40px;
    } 
    }